@tailwind base;
@tailwind components;
@tailwind utilities;




@font-face {
  font-family: "Font Spring";
  font-weight: 800;
  src: url(/fonts/Fontspring-DEMO-neuesingular-h-bold.otf) format("otf");
}